::selection {
    color: #e6ecefff !important;
    background: #00677F !important;
}


.my-custom-class {
    color: #4CAF50;
    font-size: 1.2em;
    padding: 10px;
    background-color: #f4f4f4;
}

.custom-bullets-neg li {
    color: #CE0037; /* Bullet color */
  }
  

  .custom-bullets-pos li {
    color: #43B02A; /* Bullet color */
  }
  
  .custom-bullets-pos li span {
    color: blue; /* Text color */
  }